IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "rst" H11;
IO_PORT "rst" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

// PMOD0 (pins swapped with PMOD2)
IO_LOC "pmod0[0]" G5;
IO_PORT "pmod0[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[1]" F5;
IO_PORT "pmod0[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[2]" G8;
IO_PORT "pmod0[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[3]" G7;
IO_PORT "pmod0[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[4]" H7;
IO_PORT "pmod0[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[5]" H8;
IO_PORT "pmod0[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[6]" J5;
IO_PORT "pmod0[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod0[7]" H5;
IO_PORT "pmod0[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// PMOD1
IO_LOC "pmod1[0]" A10;
IO_PORT "pmod1[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[1]" A11;
IO_PORT "pmod1[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[2]" E10;
IO_PORT "pmod1[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[3]" E11;
IO_PORT "pmod1[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[4]" L11;
IO_PORT "pmod1[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[5]" K11;
IO_PORT "pmod1[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[6]" K5;
IO_PORT "pmod1[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod1[7]" L5;
IO_PORT "pmod1[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// PMOD2 (pins swapped with PMOD0)
IO_LOC "pmod2[0]" G10;
IO_PORT "pmod2[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[1]" G11;
IO_PORT "pmod2[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[2]" D10;
IO_PORT "pmod2[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[3]" D11;
IO_PORT "pmod2[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[4]" B10;
IO_PORT "pmod2[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[5]" B11;
IO_PORT "pmod2[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[6]" C10;
IO_PORT "pmod2[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pmod2[7]" C11;
IO_PORT "pmod2[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
